
.logIn {
    width: 100vw;
    min-height: 100vh;
    background-image: url(../Images/stripedBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}
.logIn h1 {
    text-align: center;
    font-size: 64px;
    margin-top: 100px;
    margin-bottom: 40px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: #333333;
}

/*hold paper & text*/
.paperContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left:-100px;
}

.paperInfo{
    width: 750px;
    height: auto;
    display: block;

}
.paperText {
    position: absolute;
    top: 200px;
    left: 56%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-family: 'Indie Flower', cursive;
    color: black;
    gap: 50px;
    text-align: center;


}

.paperText input{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    padding: 14px 20px;
    border-radius: 25px;
    border: 2px solid #333333;
    background-color: #fef9f3; /* off-white to match paper texture */
    width: 100%;
    height: 45px;
    box-sizing: border-box;
}
.logInButton {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    text-align: center;
    transform: translate(135px,50px);
    border-style:solid;
    width: 25%;
    border-radius: 255px 35px 225px 45px/25px 255px 35px 255px;
}

.logInButton:hover {
    background-color: #e0e0e0;
}

.toggleMessage{
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    text-align: center;
    color: #333333;
    margin-top: 40px;
}

.statusMessage {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: #d9534f;      /* red for errors, you can change to green for success */
    text-align: center;
    padding-top: 50px;
    margin: 20px 0;
}

.toggleLink {
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: underline; /* underlined so users know it's clickable */
}