* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}
.welcome-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 18%;
    background-color: #94A4B4;
    color: white;
}

/* paper texture */
.welcome-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../Images/login-overlay.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 2;
}

/* left strip */
.welcome-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #94A4B4;
    z-index: 3;
}

.welcome-title, .welcome-image {
    position: relative;
    z-index: 1;
}

.welcome-title {
    font-size: 8rem;
    font-style: italic;
    font-weight: bolder;
    text-transform: lowercase;
    line-height: 1.2;
    margin-bottom: 50vh;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
}

.welcome-image {
    position: absolute;
    bottom: 15vh;
    left: 9%;
    min-width: 600px;
    max-width: 600px;
    width: 40%;
    height: auto;
    z-index:3;
}

.welcome-subtitle {
    font-size: 1rem;
    font-weight: normal;
    text-transform: lowercase;
    line-height: 1.2;
    text-align: left;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    position: absolute;
    bottom: 10vh;
    max-width: 80%;
}

.button {
    padding: 14px 32px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.25s ease;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
    position: relative; /* keep it in normal flow */
    z-index: 5; /* above overlays */
}

.button:hover {
    transform: scale(1.05) rotate(1deg);
    background:#a0b3c8;
}

.button:active {
    transform: scale(0.97) rotate(0deg);
}
